@use "../../shared/scss/breakpoints";

$header-height: 70px;

.landing-page {
  align-items: center;
  background-color: var(--neutral-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;

  @media (min-width: breakpoints.$tablet) {
    border-radius: var(--border-radius);
  }

  @media (min-width: breakpoints.$desktop) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  &_content {
    font-size: var(--font-size-normal);
    max-width: 412px;
    padding: 62px 24px;
    text-align: center;
    width: 100%;

    min-height: calc(100vh - $header-height);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: breakpoints.$tablet) {
      padding: 40px;
      min-height: unset;
    }

    @media (min-width: breakpoints.$desktop) {
      max-width: 414px;
      text-align: left;
      align-items: flex-start;
    }
  }

  &_title {
    margin-bottom: var(--margin-sm);
  }

  &_text {
    margin-bottom: var(--spacing-lg);
  }

  &_image {
    display: none;

    @media (min-width: breakpoints.$desktop) {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      max-width: 496px;
      height: auto;
    }
  }
}
