@use "../../shared/scss/breakpoints";

.landing-page {
  align-items: center;
  background-color: var(--neutral-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;

  @media (min-width: breakpoints.$tablet) {
    border-radius: var(--border-radius);
  }

  @media (min-width: breakpoints.$desktop) {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &_content {
    font-size: var(--font-size-normal);
    max-width: 412px;
    padding: 62px 24px;
    text-align: center;
    width: 100%;

    @media (min-width: breakpoints.$tablet) {
      padding: 40px;
    }

    @media (min-width: breakpoints.$desktop) {
      max-width: 414px;
      text-align: left;
    }
  }

  &_title {
    margin-bottom: var(--margin-sm);
  }

  &_text {
    margin-bottom: var(--spacing-lg);
  }
}
