@use '../../../scss/breakpoints.scss';

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  background-color: var(--neutral-color);
  padding: var(--spacing-lg) var(--spacing-md);
  text-align: center;

  @media (min-width: breakpoints.$tablet) {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  hr {
    margin: var(--spacing-md) 0;
    border: none;
    border-top: 1px solid var(--dark-color);
  }
}
