<section class="how-works" data-aos-anchor-placement="top-bottom">
  <div class="how-works_content">
    <h2 class="how-works_title title title--normal">Como funciona?</h2>

    <ul class="how-works_list">
      <li data-aos="fade-up" data-aos-duration="3000">
        <app-card
          icon="/icons/badge-search.png"
          title="Pesquisa em fontes confiaveis"
          color="neutral"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </app-card>
      </li>

      <li data-aos="fade-up" data-aos-duration="3000">
        <app-card
          icon="/icons/badge-robot.png"
          title="Relatórios feitos com IA"
          color="primary"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </app-card>
      </li>

      <li data-aos="fade-up" data-aos-duration="3000">
        <app-card
          icon="/icons/badge-email.png"
          title="Relatórios em PDF e enviado por email"
          color="dark"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </app-card>
      </li>
    </ul>
  </div>
</section>
